.title-border {
    height: 90px;
    width:15px;
    margin-right: 5px;
    /* margin-right: -25px; */
    background-color: yellowgreen;
}
.regular-btn{
    background-color: rgba(145, 194, 46, 0.74);
    color: white;
    padding: 8px 18px;
    /* font-weight: bold; */
    border: 1px solid rgba(145, 194, 46, 0.74);
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.3s;
}
.regular-btn:hover{
    border: 1px solid rgba(145, 194, 46, 0.74);
    background-color: transparent;
    color: white;
}
/* #090726 */